:root{
  --cor1:#0D0D0D;
  --cor2:#F2E7DC;
  --cor3:#A9D9D0;
  --cor4:#038C7F;
  --cor5:#027373;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
 
.container h1 {
  margin: 84px 0px 24px;
  color:var(--cor1);
}

.input{
    min-width: 300px;
    height: 35px;
    padding: 10px;
    background-color: var(--cor3);
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.123);
}

.btn {
  margin: 20px; 
  width: 120px;
  height: 40px;
  border: 1px solid var(--cor4);
  background-color: white;
  color: var(--cor1);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151);
}

.btn:hover {
  background-color: var(--cor4);
  color: white;
  box-shadow: 2px 2px 5px var(--cor3);
  transition: all 0.1s ease-in-out;
}

.btn:active {
  transform: scale(0.98);
}
